.currency {
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
}

.currency::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: relative;
  left: 6px;
  top: 18px;
}

.balance {
  color: #999;
  cursor: default;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.balance.warning {
  color: #f3007d;
}
